<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div>
<!--  <p>名字 : <input type="text" ng-model="name"/></p> -->
<!--   <h1>{{name}}</h1> -->
  <p th:text="${hello.name + '  ,您好 请输入您的用户名和密码'}"></p> 
</div>
<form method="post" action="/domain/modelmap"  ng-app="">
<p>账号 : <input type="text" ng-model="account"/></p>
<p>密码 : <input type="password" ng-model="password"/></p>
<p><input type="hidden" name="name" th:value="${hello.name}"/></p>
<p>账号是: {{account}}</p>
<p>密码是：{{password}}</p>
<input type="submit" value="提交"/> 
</form>
</body>
</html>